<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <title>Legger til kommentar</title>
</head>
<body>
<p>Kommentar nr {{ Kommentar.hentId() }} ble lagt inn.</p>
<p><a href="VisInnlegg.php?id={{ innlegg_id }}">Gå tilbake</a></p>
</body>
</html>